section.partners-hero.padding-top
	.container
		.partners-hero__content
			.partners-hero__content-title
				h1 Партнеры
			.partners-hero__content-info
				ul.partenrs__list
					+partners-item(
						"./img/partners/parimatch-prev.svg",
						"./img/partners/parimatch.svg",
						"parimatch.kz",
						"Parimatch — международный онлайн-букмекер, который работает с 1994 года. Мы технологическая и инновационная организация, которая ведет легальную деятельность и развивает спорт во всем мире. Базовые преимущества, которые могут оценить игроки: широкая линия ставок, быстрые выплаты и большой выбор специальных акций и всевозможных розыгрышей. Что касается любителей ставок на киберспорт, то для них предусмотрен ряд отдельных возможностей, которые мы предоставляем как Лучший киберспортивный букмекер 2024 года в Казахстане."
					)
					+partners-item(
						"./img/partners/fonbet-prev.svg",
						"./img/partners/parimatch.svg",
						"fonbet.kz",
						"Parimatch — международный онлайн-букмекер, который работает с 1994 года. Мы технологическая и инновационная организация, которая ведет легальную деятельность и развивает спорт во всем мире. Базовые преимущества, которые могут оценить игроки: широкая линия ставок, быстрые выплаты и большой выбор специальных акций и всевозможных розыгрышей. Что касается любителей ставок на киберспорт, то для них предусмотрен ряд отдельных возможностей, которые мы предоставляем как Лучший киберспортивный букмекер 2024 года в Казахстане."
					)
					+partners-item(
						"./img/partners/tennisi-prev.svg",
						"./img/partners/parimatch.svg",
						"tennisi.kz",
						"Parimatch — международный онлайн-букмекер, который работает с 1994 года. Мы технологическая и инновационная организация, которая ведет легальную деятельность и развивает спорт во всем мире. Базовые преимущества, которые могут оценить игроки: широкая линия ставок, быстрые выплаты и большой выбор специальных акций и всевозможных розыгрышей. Что касается любителей ставок на киберспорт, то для них предусмотрен ряд отдельных возможностей, которые мы предоставляем как Лучший киберспортивный букмекер 2024 года в Казахстане."
					)
					+partners-item(
						"./img/partners/pinup-prev.svg",
						"./img/partners/parimatch.svg",
						"pin-up.kz",
						"Parimatch — международный онлайн-букмекер, который работает с 1994 года. Мы технологическая и инновационная организация, которая ведет легальную деятельность и развивает спорт во всем мире. Базовые преимущества, которые могут оценить игроки: широкая линия ставок, быстрые выплаты и большой выбор специальных акций и всевозможных розыгрышей. Что касается любителей ставок на киберспорт, то для них предусмотрен ряд отдельных возможностей, которые мы предоставляем как Лучший киберспортивный букмекер 2024 года в Казахстане."
					)
					+partners-item(
						"./img/partners/winline-prev.svg",
						"./img/partners/parimatch.svg",
						"winline.kz",
						"Parimatch — международный онлайн-букмекер, который работает с 1994 года. Мы технологическая и инновационная организация, которая ведет легальную деятельность и развивает спорт во всем мире. Базовые преимущества, которые могут оценить игроки: широкая линия ставок, быстрые выплаты и большой выбор специальных акций и всевозможных розыгрышей. Что касается любителей ставок на киберспорт, то для них предусмотрен ряд отдельных возможностей, которые мы предоставляем как Лучший киберспортивный букмекер 2024 года в Казахстане."
					)
					+partners-item(
						"./img/partners/1xbet-prev.svg",
						"./img/partners/parimatch.svg",
						"1xbet.kz",
						"Parimatch — международный онлайн-букмекер, который работает с 1994 года. Мы технологическая и инновационная организация, которая ведет легальную деятельность и развивает спорт во всем мире. Базовые преимущества, которые могут оценить игроки: широкая линия ставок, быстрые выплаты и большой выбор специальных акций и всевозможных розыгрышей. Что касается любителей ставок на киберспорт, то для них предусмотрен ряд отдельных возможностей, которые мы предоставляем как Лучший киберспортивный букмекер 2024 года в Казахстане."
					)
					+partners-item(
						"./img/partners/olimp-prev.svg",
						"./img/partners/parimatch.svg",
						"olimpbet.kz",
						"Parimatch — международный онлайн-букмекер, который работает с 1994 года. Мы технологическая и инновационная организация, которая ведет легальную деятельность и развивает спорт во всем мире. Базовые преимущества, которые могут оценить игроки: широкая линия ставок, быстрые выплаты и большой выбор специальных акций и всевозможных розыгрышей. Что касается любителей ставок на киберспорт, то для них предусмотрен ряд отдельных возможностей, которые мы предоставляем как Лучший киберспортивный букмекер 2024 года в Казахстане."
					)
					+partners-item(
						"./img/partners/betcity-prev.svg",
						"./img/partners/parimatch.svg",
						"betcity.kz",
						"Parimatch — международный онлайн-букмекер, который работает с 1994 года. Мы технологическая и инновационная организация, которая ведет легальную деятельность и развивает спорт во всем мире. Базовые преимущества, которые могут оценить игроки: широкая линия ставок, быстрые выплаты и большой выбор специальных акций и всевозможных розыгрышей. Что касается любителей ставок на киберспорт, то для них предусмотрен ряд отдельных возможностей, которые мы предоставляем как Лучший киберспортивный букмекер 2024 года в Казахстане."
					)
					+partners-item(
						"./img/partners/betsson-prev.svg",
						"./img/partners/parimatch.svg",
						"betsson.kz",
						"Parimatch — международный онлайн-букмекер, который работает с 1994 года. Мы технологическая и инновационная организация, которая ведет легальную деятельность и развивает спорт во всем мире. Базовые преимущества, которые могут оценить игроки: широкая линия ставок, быстрые выплаты и большой выбор специальных акций и всевозможных розыгрышей. Что касается любителей ставок на киберспорт, то для них предусмотрен ряд отдельных возможностей, которые мы предоставляем как Лучший киберспортивный букмекер 2024 года в Казахстане."
					)
					+partners-item(
						"./img/partners/ubet-prev.svg",
						"./img/partners/parimatch.svg",
						"ubet.kz",
						"Parimatch — международный онлайн-букмекер, который работает с 1994 года. Мы технологическая и инновационная организация, которая ведет легальную деятельность и развивает спорт во всем мире. Базовые преимущества, которые могут оценить игроки: широкая линия ставок, быстрые выплаты и большой выбор специальных акций и всевозможных розыгрышей. Что касается любителей ставок на киберспорт, то для них предусмотрен ряд отдельных возможностей, которые мы предоставляем как Лучший киберспортивный букмекер 2024 года в Казахстане."
					)
