:root {
  --font-family: "Geologica Roman", sans-serif;
  --second-family: "Inter", sans-serif;
}

:root {
  --262626: #262626;
  --212121: #212121;
  --fd8a00: #fd8a00;
  --fff: #fff;
  --2db96b: #2db96b;
  --ff3d3d: #ff3d3d;

  --text-primary: #083743;
	--text-link: #149FC2;
	--text-accent: #18B7DF;
	--text-secondary: rgba(7, 55, 67, 0.6);
	--text-muted: rgba(7, 55, 67, 0.4);
}
