section.main-start
  .container
    .main-start__content
      .section-title.main-start__content-title
        h2 Как начать делать ставки у легальных букмекеров?
      .main-start__content-blocks
        ul.main-start__list
          +start-item(
            '1',
            'Зарегистрируйтесь',
            'Зарегистрируйтесь в&nbsp;ЕСУ на&nbsp;сайте или в&nbsp;приложении. Вам понадобится только телефон'
          )
          +start-item(
            '2',
            'Идентифицируйтесь',
            'Пройдите идентификацию максимально быстрым, удобным и&nbsp;надежным способом'
          )
          +start-item(
            '3',
            'Платите',
            'Пополняйте счета букмекеров сразу после идентификации любым удобным способом'
          )
      .main-start__content-btn
        a(href="#").btn-global
          p Перейти к букмекерам
