footer.footer
  .container
    .footer__content
      .footer__content-info
        .footer__content-info__nav
          nav.footer-nav
            ul
              li
                a(href="#") О проекте
              li
                a(href="#") Правовая информация
              li
                a(href="#") Партнеры
              li
                a(href="#") Тарифы
              li
                a(href="#") Помощь
              li
                a(href="#") Контакты
              li
                a(href="#") Написать нам
        .footer__content-info__descr
          p  © ТОО «Nomapay»
