section.rates-hero.padding-top
	.container
		.rates-hero__content
			.rates-hero__content-menu
				.block-menu#blockMenu
					.block-menu__title
						h3 Тарифы
				.block-menu__content
					ul.menu__list
						+menu-item('Общие условия по тарифам', 'https://example.com')
						+menu-item('БК «Пари-Матч»', 'https://example.com', true)
						+menu-item('БК «Фонбет»', 'https://example.com')
						+menu-item('БК «Tennisi.BET»', 'https://example.com')
						+menu-item('БК «Pin-Up KZ»', 'https://example.com')
						+menu-item('БК «Winline»', 'https://example.com')
						+menu-item('БК «1XBET»', 'https://example.com')
						+menu-item('БК «Олимп»', 'https://example.com')
						+menu-item('БК «БЕТСИТИ»', 'https://example.com')
						+menu-item('БК «Betsson»', 'https://example.com')
						+menu-item('БК «Ubet»', 'https://example.com')
			.rates-hero__content-info
				.rates-hero__content-info__title
					h1 Тарифы БК «Пари-Матч»
				.rates-hero__content-info__blocks
					h3 Банковские карты
					ul.rates__list
						+rates-item(
							"../img/rates/mastercard.svg",
							"Mastercard",
							"Пополнение",
							"до 595 000 руб., без&nbsp;комиссии, за&nbsp;1&nbsp;минуту",
							"Вывод",
							"до 595 000 руб., без комиссии, до&nbsp;3&nbsp;рабочих&nbsp;дней"
						)
						+rates-item(
							"../img/rates/visa.svg",
							"visa",
							"Пополнение",
							"до 595 000 ₸, без&nbsp;комиссии, за&nbsp;1&nbsp;минуту",
							"Вывод",
							"до 595 000 ₸, без&nbsp;комиссии, до&nbsp;3&nbsp;рабочих&nbsp;дней"
						)
						+rates-item(
							"../img/rates/apple-pay.svg",
							"apple-pay",
							"Пополнение",
							"до 595 000 ₸, без&nbsp;комиссии, за&nbsp;1&nbsp;минуту"
						)
						+rates-item(
							"../img/rates/google-pay.svg",
							"google-pay",
							"Пополнение",
							"до 595 000 ₸, без&nbsp;комиссии, за&nbsp;1&nbsp;минуту"
						)
				.rates-hero__content-info__blocks
					h3 Интернет-банки
					ul.rates__list
						+rates-item(
							"../img/rates/kaspi.svg",
							"kaspi",
							"Пополнение",
							"до 595 000 ₸, без&nbsp;комиссии, за&nbsp;1&nbsp;минуту",
							"Вывод",
							"до 595 000 ₸, без комиссии, до&nbsp;3&nbsp;рабочих&nbsp;дней"
						)
				.rates-hero__content-info__blocks
					h3 Мобильная коммерция
					ul.rates__list
						+rates-item(
							"../img/rates/beeline.svg",
							"Beeline",
							"Пополнение",
							"до&nbsp;5&nbsp;000 ₸, 11,99%, за&nbsp;1&nbsp;минуту",
							"Вывод",
							"до 595 000 ₸, без&nbsp;комиссии, за&nbsp;1&nbsp;минуту"
						)
						+rates-item(
							"../img/rates/tele2.svg",
							"tele",
							"Пополнение",
							"до&nbsp;5&nbsp;000 ₸, 11,99%, за&nbsp;1&nbsp;минуту",
							"Вывод",
							"до 595 000 ₸, без&nbsp;комиссии, за&nbsp;1&nbsp;минуту"
						)
						+rates-item(
							"../img/rates/altel.svg",
							"altel",
							"Пополнение",
							"до&nbsp;5&nbsp;000 ₸, 11,99%, за&nbsp;1&nbsp;минуту",
							"Вывод",
							"до 595 000 ₸, без&nbsp;комиссии, за&nbsp;1&nbsp;минуту"
						)
						+rates-item(
							"../img/rates/kcell.svg",
							"kcell",
							"Пополнение",
							"до&nbsp;5&nbsp;000 ₸, 11,99%, за&nbsp;1&nbsp;минуту",
							"Вывод",
							"до 595 000 ₸, без&nbsp;комиссии, за&nbsp;1&nbsp;минуту"
						)
						+rates-item(
							"../img/rates/activ.svg",
							"activl",
							"Пополнение",
							"до&nbsp;5&nbsp;000 ₸, 11,99%, за&nbsp;1&nbsp;минуту",
							"Вывод",
							"до 595 000 ₸, без&nbsp;комиссии, за&nbsp;1&nbsp;минуту"
						)
						+rates-item(
							"../img/rates/izi.svg",
							"izi",
							"Пополнение",
							"до&nbsp;5&nbsp;000 ₸, 11,99%, за&nbsp;1&nbsp;минуту",
							"Вывод",
							"до 595 000 ₸, без&nbsp;комиссии, за&nbsp;1&nbsp;минуту"
						)


