@font-face {
    font-family: 'Geologica';
    src: url('../fonts/geologica/Geologica-Medium.eot');
    src: local('Geologica Medium'), local('Geologica-Medium'),
        url('../fonts/geologica/Geologica-Medium.woff2') format('woff2'),
        url('../fonts/geologica/Geologica-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Geologica Cursive';
    src: url('../fonts/geologica/GeologicaCursive-Light.eot');
    src: local('Geologica Cursive Light'), local('GeologicaCursive-Light'),
        url('../fonts/geologica/GeologicaCursive-Light.woff2') format('woff2'),
        url('../fonts/geologica/GeologicaCursive-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Geologica';
    src: url('../fonts/geologica/Geologica-Bold.eot');
    src: local('Geologica Bold'), local('Geologica-Bold'),
        url('../fonts/geologica/Geologica-Bold.woff2') format('woff2'),
        url('../fonts/geologica/Geologica-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Geologica Cursive';
    src: url('../fonts/geologica/GeologicaCursive-Black.eot');
    src: local('Geologica Cursive Black'), local('GeologicaCursive-Black'),
        url('../fonts/geologica/GeologicaCursive-Black.woff2') format('woff2'),
        url('../fonts/geologica/GeologicaCursive-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Geologica';
    src: url('../fonts/geologica/Geologica-ExtraBold.eot');
    src: local('Geologica ExtraBold'), local('Geologica-ExtraBold'),
        url('../fonts/geologica/Geologica-ExtraBold.woff2') format('woff2'),
        url('../fonts/geologica/Geologica-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Geologica';
    src: url('../fonts/geologica/Geologica-Thin.eot');
    src: local('Geologica Thin'), local('Geologica-Thin'),
        url('../fonts/geologica/Geologica-Thin.woff2') format('woff2'),
        url('../fonts/geologica/Geologica-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Geologica Cursive';
    src: url('../fonts/geologica/GeologicaCursive-ExtraLight.eot');
    src: local('Geologica Cursive ExtraLight'), local('GeologicaCursive-ExtraLight'),
        url('../fonts/geologica/GeologicaCursive-ExtraLight.woff2') format('woff2'),
        url('../fonts/geologica/GeologicaCursive-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Geologica';
    src: url('../fonts/geologica/Geologica-ExtraLight.eot');
    src: local('Geologica ExtraLight'), local('Geologica-ExtraLight'),
        url('../fonts/geologica/Geologica-ExtraLight.woff2') format('woff2'),
        url('../fonts/geologica/Geologica-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Geologica Cursive';
    src: url('../fonts/geologica/GeologicaCursive-Bold.eot');
    src: local('Geologica Cursive Bold'), local('GeologicaCursive-Bold'),
        url('../fonts/geologica/GeologicaCursive-Bold.woff2') format('woff2'),
        url('../fonts/geologica/GeologicaCursive-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Geologica';
    src: url('../fonts/geologica/Geologica-Light.eot');
    src: local('Geologica Light'), local('Geologica-Light'),
        url('../fonts/geologica/Geologica-Light.woff2') format('woff2'),
        url('../fonts/geologica/Geologica-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Geologica Cursive';
    src: url('../fonts/geologica/GeologicaCursive-Medium.eot');
    src: local('Geologica Cursive Medium'), local('GeologicaCursive-Medium'),
        url('../fonts/geologica/GeologicaCursive-Medium.woff2') format('woff2'),
        url('../fonts/geologica/GeologicaCursive-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Geologica';
    src: url('../fonts/geologica/Geologica-SemiBold.eot');
    src: local('Geologica SemiBold'), local('Geologica-SemiBold'),
        url('../fonts/geologica/Geologica-SemiBold.woff2') format('woff2'),
        url('../fonts/geologica/Geologica-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Geologica Cursive';
    src: url('../fonts/geologica/GeologicaCursive-ExtraBold.eot');
    src: local('Geologica Cursive ExtraBold'), local('GeologicaCursive-ExtraBold'),
        url('../fonts/geologica/GeologicaCursive-ExtraBold.woff2') format('woff2'),
        url('../fonts/geologica/GeologicaCursive-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Geologica';
    src: url('../fonts/geologica/Geologica-Black.eot');
    src: local('Geologica Black'), local('Geologica-Black'),
        url('../fonts/geologica/Geologica-Black.woff2') format('woff2'),
        url('../fonts/geologica/Geologica-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Geologica';
    src: url('../fonts/geologica/Geologica-Regular.eot');
    src: local('Geologica Regular'), local('Geologica-Regular'),
        url('../fonts/geologica/Geologica-Regular.woff2') format('woff2'),
        url('../fonts/geologica/Geologica-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Geologica Roman';
    src: url('../fonts/geologica/GeologicaRoman-Black.eot');
    src: local('Geologica Roman Black'), local('GeologicaRoman-Black'),
        url('../fonts/geologica/GeologicaRoman-Black.woff2') format('woff2'),
        url('../fonts/geologica/GeologicaRoman-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Geologica Roman';
    src: url('../fonts/geologica/GeologicaRoman-Medium.eot');
    src: local('Geologica Roman Medium'), local('GeologicaRoman-Medium'),
        url('../fonts/geologica/GeologicaRoman-Medium.woff2') format('woff2'),
        url('../fonts/geologica/GeologicaRoman-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Geologica Roman';
    src: url('../fonts/geologica/GeologicaRoman-ExtraLight.eot');
    src: local('Geologica Roman ExtraLight'), local('GeologicaRoman-ExtraLight'),
        url('../fonts/geologica/GeologicaRoman-ExtraLight.woff2') format('woff2'),
        url('../fonts/geologica/GeologicaRoman-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Geologica Roman';
    src: url('../fonts/geologica/GeologicaRoman-SemiBold.eot');
    src: local('Geologica Roman SemiBold'), local('GeologicaRoman-SemiBold'),
        url('../fonts/geologica/GeologicaRoman-SemiBold.woff2') format('woff2'),
        url('../fonts/geologica/GeologicaRoman-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Geologica Roman';
    src: url('../fonts/geologica/GeologicaRoman-Regular.eot');
    src: local('Geologica Roman Regular'), local('GeologicaRoman-Regular'),
        url('../fonts/geologica/GeologicaRoman-Regular.woff2') format('woff2'),
        url('../fonts/geologica/GeologicaRoman-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Geologica Roman';
    src: url('../fonts/geologica/GeologicaRoman-ExtraBold.eot');
    src: local('Geologica Roman ExtraBold'), local('GeologicaRoman-ExtraBold'),
        url('../fonts/geologica/GeologicaRoman-ExtraBold.woff2') format('woff2'),
        url('../fonts/geologica/GeologicaRoman-ExtraBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Geologica Cursive';
    src: url('../fonts/geologica/GeologicaCursive-Thin.eot');
    src: local('Geologica Cursive Thin'), local('GeologicaCursive-Thin'),
        url('../fonts/geologica/GeologicaCursive-Thin.woff2') format('woff2'),
        url('../fonts/geologica/GeologicaCursive-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Geologica Cursive';
    src: url('../fonts/geologica/GeologicaCursive-Regular.eot');
    src: local('Geologica Cursive Regular'), local('GeologicaCursive-Regular'),
        url('../fonts/geologica/GeologicaCursive-Regular.woff2') format('woff2'),
        url('../fonts/geologica/GeologicaCursive-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Geologica Roman';
    src: url('../fonts/geologica/GeologicaRoman-Thin.eot');
    src: local('Geologica Roman Thin'), local('GeologicaRoman-Thin'),
        url('../fonts/geologica/GeologicaRoman-Thin.woff2') format('woff2'),
        url('../fonts/geologica/GeologicaRoman-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Geologica Roman';
    src: url('../fonts/geologica/GeologicaRoman-Bold.eot');
    src: local('Geologica Roman Bold'), local('GeologicaRoman-Bold'),
        url('../fonts/geologica/GeologicaRoman-Bold.woff2') format('woff2'),
        url('../fonts/geologica/GeologicaRoman-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Geologica Roman';
    src: url('../fonts/geologica/GeologicaRoman-Light.eot');
    src: local('Geologica Roman Light'), local('GeologicaRoman-Light'),
        url('../fonts/geologica/GeologicaRoman-Light.woff2') format('woff2'),
        url('../fonts/geologica/GeologicaRoman-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Geologica Cursive';
    src: url('../fonts/geologica/GeologicaCursive-SemiBold.eot');
    src: local('Geologica Cursive SemiBold'), local('GeologicaCursive-SemiBold'),
        url('../fonts/geologica/GeologicaCursive-SemiBold.woff2') format('woff2'),
        url('../fonts/geologica/GeologicaCursive-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

/* Inter */

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter/Inter-BoldItalic.eot');
  src: local('Inter Bold Italic'), local('Inter-BoldItalic'),
      url('../fonts/Inter/Inter-BoldItalic.woff2') format('woff2'),
      url('../fonts/Inter/Inter-BoldItalic.woff') format('woff');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter/Inter-MediumItalic.eot');
  src: local('Inter Medium Italic'), local('Inter-MediumItalic'),
      url('../fonts/Inter/Inter-MediumItalic.woff2') format('woff2'),
      url('../fonts/Inter/Inter-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter/Inter-ThinItalicBETA.eot');
  src: local('Inter Thin Italic BETA'), local('Inter-ThinItalicBETA'),
      url('../fonts/Inter/Inter-ThinItalicBETA.woff2') format('woff2'),
      url('../fonts/Inter/Inter-ThinItalicBETA.woff') format('woff');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter/Inter-Regular.eot');
  src: local('Inter Regular'), local('Inter-Regular'),
      url('../fonts/Inter/Inter-Regular.woff2') format('woff2'),
      url('../fonts/Inter/Inter-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter/Inter-Black.eot');
  src: local('Inter Black'), local('Inter-Black'),
      url('../fonts/Inter/Inter-Black.woff2') format('woff2'),
      url('../fonts/Inter/Inter-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter/Inter-BlackItalic.eot');
  src: local('Inter Black Italic'), local('Inter-BlackItalic'),
      url('../fonts/Inter/Inter-BlackItalic.woff2') format('woff2'),
      url('../fonts/Inter/Inter-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter/Inter-LightBETA.eot');
  src: local('Inter Light BETA'), local('Inter-LightBETA'),
      url('../fonts/Inter/Inter-LightBETA.woff2') format('woff2'),
      url('../fonts/Inter/Inter-LightBETA.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter/Inter-SemiBold.eot');
  src: local('Inter Semi Bold'), local('Inter-SemiBold'),
      url('../fonts/Inter/Inter-SemiBold.woff2') format('woff2'),
      url('../fonts/Inter/Inter-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter/Inter-ExtraBoldItalic.eot');
  src: local('Inter Extra Bold Italic'), local('Inter-ExtraBoldItalic'),
      url('../fonts/Inter/Inter-ExtraBoldItalic.woff2') format('woff2'),
      url('../fonts/Inter/Inter-ExtraBoldItalic.woff') format('woff');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter/Inter-Bold.eot');
  src: local('Inter Bold'), local('Inter-Bold'),
      url('../fonts/Inter/Inter-Bold.woff2') format('woff2'),
      url('../fonts/Inter/Inter-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter/Inter-ExtraLightItalicBETA.eot');
  src: local('Inter Extra Light Italic BETA'), local('Inter-ExtraLightItalicBETA'),
      url('../fonts/Inter/Inter-ExtraLightItalicBETA.woff2') format('woff2'),
      url('../fonts/Inter/Inter-ExtraLightItalicBETA.woff') format('woff');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter/Inter-ExtraLightBETA.eot');
  src: local('Inter Extra Light BETA'), local('Inter-ExtraLightBETA'),
      url('../fonts/Inter/Inter-ExtraLightBETA.woff2') format('woff2'),
      url('../fonts/Inter/Inter-ExtraLightBETA.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter/Inter-ExtraBold.eot');
  src: local('Inter Extra Bold'), local('Inter-ExtraBold'),
      url('../fonts/Inter/Inter-ExtraBold.woff2') format('woff2'),
      url('../fonts/Inter/Inter-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter/Inter-ThinBETA.eot');
  src: local('Inter Thin BETA'), local('Inter-ThinBETA'),
      url('../fonts/Inter/Inter-ThinBETA.woff2') format('woff2'),
      url('../fonts/Inter/Inter-ThinBETA.woff') format('woff');
  font-weight: 100;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter/Inter-LightItalicBETA.eot');
  src: local('Inter Light Italic BETA'), local('Inter-LightItalicBETA'),
      url('../fonts/Inter/Inter-LightItalicBETA.woff2') format('woff2'),
      url('../fonts/Inter/Inter-LightItalicBETA.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter/Inter-Italic.eot');
  src: local('Inter Italic'), local('Inter-Italic'),
      url('../fonts/Inter/Inter-Italic.woff2') format('woff2'),
      url('../fonts/Inter/Inter-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter/Inter-SemiBoldItalic.eot');
  src: local('Inter Semi Bold Italic'), local('Inter-SemiBoldItalic'),
      url('../fonts/Inter/Inter-SemiBoldItalic.woff2') format('woff2'),
      url('../fonts/Inter/Inter-SemiBoldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Inter';
  src: url('../fonts/Inter/Inter-Medium.eot');
  src: local('Inter Medium'), local('Inter-Medium'),
      url('../fonts/Inter/Inter-Medium.woff2') format('woff2'),
      url('../fonts/Inter/Inter-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}
