.container {
  margin: 0 auto;
  padding: 0 64px;
  max-width: 1920px;
}


@media (max-width: 1365px) {
  .container {
    padding: 0 48px;
  }
}

@media (max-width: 767px) {
  .container {
    padding: 0 24px;
  }
}
