section.main-hero
  .container
    .main-hero__content
      .main-hero__content-info
        h1 Ваш надежный сервис для платежей легальным букмекерским конторам

      .main-hero__content-bg
        img(src="./img/main/hero/bg-img.png", alt="img").desctop
        img(src="./img/main/hero/bg-img-768.png", alt="img").mobile
