.main-hero {
  padding-top: 4px;

  &__content {
    position: relative;
    display: flex;
    align-items: center;
    overflow: hidden;
    min-height: 480px;
    border-radius: 40px;
    background-color: #d6eefa;

    &-info {
      position: relative;
      z-index: 1;
      padding: 60px 60px 60px 60px;
      width: 100%;
      max-width: 640px;

      & * {
        font-weight: 600;
        font-size: 40px;
        line-height: 120%;
        letter-spacing: -0.03em;
        color: var(--text-primary);
      }
    }

    &-bg {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 100%;
      height: 100%;
      z-index: 0;

      & img {
        height: 100%;

        &.mobile {
          display: none;
        }
      }
    }
  }
}

@media (max-width: 1365px) {

  .main-hero {
    margin-top: -2px;
    padding-top: 0;

    &__content {

      &-info {
        max-width: 590px;
      }
    }
  }
}

@media (max-width: 1023px) {
  .main-hero {
    margin-top: 0;
    padding-top: 2px;

    &__content {
      flex-direction: column;
      align-items: flex-start;
      min-height: auto;
      background-color: inherit;
      border-radius: 0;

      &-info {
        padding: 0;
        max-width: 520px;
        margin-bottom: 24px;
      }

      &-bg {
        position: relative;
        left: 0;
        max-width: 100%;
        height: 66vw;
        max-height: 504px;
        min-height: 234px;
        overflow: hidden;
        transform: unset;
        border-radius: 24px;

        & img {

          &.desctop {
            display: none;
          }

          &.mobile {
            display: block;
          }
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .main-hero {
    padding-top: 5px;

    &__content {

      &-info {
        margin-bottom: 22px;

        & * {
          font-size: 28px;
          letter-spacing: -0.04em;
        }
      }
    }
  }
}
