section.main-about
  .container
    .main-about__content
      .main-about__content-info
        p NomaPay&nbsp;&mdash; инновационная платежная организация, создающая современные и&nbsp;удобные решения для приема, обработки и&nbsp;перевода платежей. Наша цель&nbsp;&mdash; развивать экосистему электронных платежей в&nbsp;Казахстане, обеспечивая безопасность, скорость и&nbsp;удобство для&nbsp;пользователей
        p ЕСУ (единая система учета) в&nbsp;соответствии&nbsp;с... поручила NomaPay выполнять функции ЕСУ&nbsp;на&nbsp;территории Казахстана
