extends ../layouts/default

block variables
	- const title = "Правовая информация"
	- const activePage = 'documents'

block block-content
	include ../../blocks/modules/pages/documents/documents-hero/documents-hero.pug
