extends ../layouts/default

block variables
	- const title = "main"

block block-content
	include ../../blocks/modules/pages/main/main-hero/main-hero.pug
	include ../../blocks/modules/pages/main/main-about/main-about.pug
	include ../../blocks/modules/pages/main/main-purpose/main-purpose.pug
	include ../../blocks/modules/pages/main/main-start/main-start.pug
	include ../../blocks/modules/pages/main/main-why/main-why.pug
