extends ../layouts/default

block variables
	- const title = "Партнеры"
	- const activePage = 'partners'

block block-content
	include ../../blocks/modules/pages/partners/partners-hero/partners-hero.pug
