section.documents-hero.padding-top
  .container
    .documents-hero__content
      .documents-hero__content-info
        .documents-hero__content-info__title
          h1 Правовая информация

        .documents-block
          .documents-block__list
            ul
              li
                h4 Полное фирменное наименование
                p Общество с&nbsp;ограниченной ответственностью небанковская кредитная организация &laquo;Мобильная&nbsp;карта&raquo;
              li
                h4 Сокращенное фирменное наименование
                p ТОО «NomaPay»
              li
                h4 Сокращенное фирменное наименование на английском языке
                p «NomaPay» Ltd.
            ul
              li
                h4 Регистрационный номер в&nbsp;Центральном банке Российской Федерации
                p &#8470;&nbsp;3522-К от&nbsp;24&nbsp;декабря 2019 года
              li
                h4 Дата внесения записи в&nbsp;Единый государственный реестр юридических лиц
                p 30&nbsp;июля 2013 года

        span.documents-hero__content-info__line

        .documents-block
          h3 Реквизиты ТОО «NomaPay»
          .documents-block__list
            ul
              li
                h4 Адрес регистрации
                p 195112, город Санкт-Петербург, проспект Малоохтинский, дом&nbsp;64, литера&nbsp;Б, этаж&nbsp;8, помещение 23Н.
              li
                h4 Фактический адрес
                p 195112, город Санкт-Петербург, проспект Малоохтинский, дом&nbsp;64, литера&nbsp;Б, этаж&nbsp;8, помещение 23Н.
              li
                h4 Адрес официальной страницы в сети Интернет
                p
                  a(href="#") nomapay.kz
              li
                h4 Адреса электронной почты, с которых ведется переписка от лица кредитной организации
                p
                  a(href="#") info@nomapay.kz
            ul
              li
                h4 ОГРН
                p 1137800007124
              li
                h4 ИНН/КПП
                p 7835905228/ 780601001
              li
                h4 ОКПО / ОКАТО / ОКВЭД
                p 27509230/40278000000/64.19
              li
                h4 БИК
                p 044030303
              li
                h4 К/с
                p 30103810040300000303 в Северо-Западном ГУ Банка России

        .documents-block
          h3 Официальные документы
          .documents-block__download
            ul.download__list
              +download-item(
                "Оферты, правила и&nbsp;условия",
                [
                  "Оферта о&nbsp;порядке предоставления и&nbsp;использования электронного средства платежа и&nbsp;условиях перевода электронных денежных средств (дата публикации 08.02.2025, дата вступления в&nbsp;силу 24.02.2025)",
                  "Правила выпуска и&nbsp;обслуживания предоплаченной цифровой карты (дата публикации 07.08.2024, дата вступления в&nbsp;силу 23.08.2024)",
                  "Правила осуществления перевода электронных денежных средств (дата публикации 18.11.2024, дата вступления в&nbsp;силу 04.12.2024)",
                  "Условия программы лояльности держателей предоплаченной цифровой карты (дата публикации 07.06.2024, дата вступления в&nbsp;силу 01.07.2024)"
                ]
              )
              +download-item(
                "Персональные данные",
                [
                  "Оферта о&nbsp;порядке предоставления и&nbsp;использования электронного средства платежа и&nbsp;условиях перевода электронных денежных средств (дата публикации 08.02.2025, дата вступления в&nbsp;силу 24.02.2025)",
                  "Правила выпуска и&nbsp;обслуживания предоплаченной цифровой карты (дата публикации 07.08.2024, дата вступления в&nbsp;силу 23.08.2024)",
                  "Правила осуществления перевода электронных денежных средств (дата публикации 18.11.2024, дата вступления в&nbsp;силу 04.12.2024)",
                  "Условия программы лояльности держателей предоплаченной цифровой карты (дата публикации 07.06.2024, дата вступления в&nbsp;силу 01.07.2024)"
                ]
              )
              +download-item(
                "Памятки",
                [
                  "Оферта о&nbsp;порядке предоставления и&nbsp;использования электронного средства платежа и&nbsp;условиях перевода электронных денежных средств (дата публикации 08.02.2025, дата вступления в&nbsp;силу 24.02.2025)",
                  "Правила выпуска и&nbsp;обслуживания предоплаченной цифровой карты (дата публикации 07.08.2024, дата вступления в&nbsp;силу 23.08.2024)",
                  "Правила осуществления перевода электронных денежных средств (дата публикации 18.11.2024, дата вступления в&nbsp;силу 04.12.2024)",
                  "Условия программы лояльности держателей предоплаченной цифровой карты (дата публикации 07.06.2024, дата вступления в&nbsp;силу 01.07.2024)"
                ]
              )
              +download-item(
                "Обращения",
                [
                  "Оферта о&nbsp;порядке предоставления и&nbsp;использования электронного средства платежа и&nbsp;условиях перевода электронных денежных средств (дата публикации 08.02.2025, дата вступления в&nbsp;силу 24.02.2025)",
                  "Правила выпуска и&nbsp;обслуживания предоплаченной цифровой карты (дата публикации 07.08.2024, дата вступления в&nbsp;силу 23.08.2024)",
                  "Правила осуществления перевода электронных денежных средств (дата публикации 18.11.2024, дата вступления в&nbsp;силу 04.12.2024)",
                  "Условия программы лояльности держателей предоплаченной цифровой карты (дата публикации 07.06.2024, дата вступления в&nbsp;силу 01.07.2024)"
                ]
              )
