section.main-why
  .container
    .main-why__content
      .main-why__content-info
        .section-title.main-why__content-info__title
          h2 Почему стоит выбирать легальных букмекеров?

        .main-why__content-info__blocks
          ul.main-why__list
            +why-item(
              './img/main/why/Subtract.svg',
              'Надежность',
              'Все легальные букмекеры присоединились к&nbsp;ЕРАИ (единому регулятору азартных игр), который сформировал крупный компенсационный фонд, поэтому ваши средства надежно защищены'
            )
            +why-item(
              './img/main/why/Union.svg',
              'Прозрачность',
              'Деятельность легальных букмекеров строго регламентирована, поэтому все возникающие споры и&nbsp;вопросы разрешаются в&nbsp;соответствии с&nbsp;законодательством Республики Казахстан'
            )
            +why-item(
              './img/main/why/Subtract2.svg',
              'Безопасность',
              'Ваши персональные данные, а&nbsp;также данные платежных карт, надежно защищены в&nbsp;соответствии с&nbsp;национальными и&nbsp;междунадродными стандартами'
            )
            +why-item(
              './img/main/why/lock.svg',
              'Доступность',
              'Не&nbsp;нужно искать обходные пути&nbsp;&mdash; все сайты легальных букмекеров работают стабильно и&nbsp;не&nbsp;блокируются регулятором'
            )

        .main-why__content-info__btn
          a.btn-global(href="#")
            p Партнеры ЕСУ
