section.main-purpose
  .container
    .main-purpose__content
      .section-title.main-purpose__content-title
        h2 Зачем нужен ЕСУ?

      .main-purpose__content-descr
        p ЕСУ&nbsp;&mdash; финансовый проводник в&nbsp;мир интерактивных ставок. Все легальные букмекеры и&nbsp;тотализаторы подключены к&nbsp;ЕСУ

      .main-purpose__content-blocks
        ul.main-purpose__list
          +purpose-item(
            './img/main/purpose/icon1.svg',
            'Регистрация, идентификация и&nbsp;поддержка клиентов'
          )
          +purpose-item(
            './img/main/purpose/icon2.svg',
            'Платежи легальным букмекерам и&nbsp;выводы выигрышей'
          )
          +purpose-item(
            './img/main/purpose/icon3.svg',
            'Удержание <br> отчислений на&nbsp;поддержку спорта'
          )
