mixin mixins
	include ../../blocks/mixins/main/start-item
	include ../../blocks/mixins/main/why-item
	include ../../blocks/mixins/main/purpose-item

	include ../../blocks/mixins/mobile-navigation/navigation-item
