mixin mixins
	include ../../blocks/mixins/header/nav-item

	include ../../blocks/mixins/main/start-item
	include ../../blocks/mixins/main/why-item
	include ../../blocks/mixins/main/purpose-item

	include ../../blocks/mixins/about/download-item

	include ../../blocks/mixins/partenrs/partenrs-item

	include ../../blocks/mixins/rates/rates-item

	include ../../blocks/mixins/mobile-navigation/navigation-item
	include ../../blocks/mixins/block-menu/menu-item.pug
