section.help-hero.padding-top
  .container
    .help-hero__content
      .help-hero__content-menu
        .block-menu#blockMenu
          .block-menu__title
            h3 Помощь
        .block-menu__content
          ul.menu__list
            +menu-item("Как начать делать ставки?", "https://example.com")

            +menu-item("Как пройти идентификацию?", "https://example.com")
              +menu-item("Подменю 1", "https://example.com")
              +menu-item("Подменю 2", "https://example.com")
              +menu-item("Подменю 3", "https://example.com")

            +menu-item("Как пополнять и выводить?", "https://example.com")

            +menu-item("Что такое ЕСУ и зачем он нужен?", "https://example.com")

            +menu-item("Не приходит СМС", "#", true)
              +menu-item("Если номер телефона из аккаунта недоступен", "https://example.com")
              +menu-item("Если нет доступа к старому номеру", "https://example.com", true)
              +menu-item("Если на стороне оператора все в порядке", "https://example.com")

            +menu-item("Как привязать и отвязать карту?", "https://example.com")

            +menu-item("Проблемы с платежами", "https://example.com")

            +menu-item("Безопасность", "https://example.com")
      .help-hero__content-info
        .text-editor
          h1 Если нет доступа к&nbsp;старому номеру
          p.large ЕСУ&nbsp;&mdash; это совместный проект ООО НКО &laquo;Мобильная карта&raquo; (Лицензия банка России &#8470;&nbsp;3522-К) и&nbsp;Союза &laquo;Первая саморегулируемая организация букмекеров&raquo; по&nbsp;созданию центра учета переводов интерактивных ставок букмекерских контор.
          p В&nbsp;соответствии с&nbsp;требованиями законодательства Союз &laquo;Первая саморегулируемая организация букмекеров&raquo; выступает одним из&nbsp;участников ООО НКО &laquo;Мобильная карта&raquo;.

          h2 Кем назначен?
          p ЕСУ осуществляет свою деятельность в&nbsp;строгом соответствии с&nbsp;Федеральным законом от&nbsp;29.12.2006 &#8470;&nbsp;244-ФЗ &laquo;О&nbsp;государственном регулировании деятельности по&nbsp;организации и&nbsp;проведению азартных игр и&nbsp;о&nbsp;внесении изменений в&nbsp;некоторые законодательные акты Российской Федерации&raquo; и&nbsp;Федеральным законом от&nbsp;02.12.1990 &#8470;&nbsp;395&ndash;1 &laquo;О&nbsp;банках и&nbsp;банковской деятельности&raquo; на&nbsp;основании договора об&nbsp;осуществлении функций центра учета переводов интерактивных ставок букмекерских контор, заключенного между Обществом с&nbsp;ограниченной ответственностью Небанковская кредитная организация &laquo;Мобильная карта&raquo; и&nbsp;Союзом &laquo;Первая саморегулируемая организация букмекеров&raquo;.

          ul
            li Федеральным законом от&nbsp;29.12.2006 &#8470;&nbsp;244-ФЗ &laquo;О&nbsp;государственном регулировании деятельности по&nbsp;организации и&nbsp;проведению азартных игр и&nbsp;о&nbsp;внесении изменений в&nbsp;некоторые законодательные акты Российской Федерации&raquo;;
            li Федеральным законом от&nbsp;25.12.2020 &#8470;&nbsp;493-ФЗ &laquo;О&nbsp;публично-правовой компании &bdquo;Единый регулятор азартных игр&ldquo; и&nbsp;о&nbsp;внесении изменений в&nbsp;отдельные законодательные акты Российской Федерации&raquo;;
            li Федеральным законом от&nbsp;02.12.1990 &#8470;&nbsp;395&ndash;1 &laquo;О&nbsp;банках и&nbsp;банковской деятельности&raquo;.

          img(src="./img/main/hero/bg-img.png" alt="")

          h3 Видение будущего
          p Достижение полной прозрачности и&nbsp;доверия в&nbsp;индустрии развлечений.

          ol
            li Введите номер телефона для регистрации. Он должен быть такой же, как и у всех букмекеров, в которых планируете делать ставки
            li Подтвердите регистрацию кодом из&nbsp;СМС
            li Обязательно подтвердите свой #[a(href="#") адрес электронной почты], перейдя по&nbsp;ссылке в&nbsp;письме, которое вы&nbsp;получите. Без этого не&nbsp;получится выводить выигрыши от&nbsp;букмекеров и&nbsp;получать чеки за&nbsp;операции.
