extends layouts/default
include helpers/mixins

block variables
	- const title = "index"

block block-content
	section.index-page
		.container
			.index-page__content
				ul
					li
						a(href="/main.html") main
					li
						a(href="/about.html") about
					li
						a(href="/documents.html") documents
					li
						a(href="/partners.html") partners
					li
						a(href="/rates.html") rates
					li
						a(href="/help.html") help
					li
						a(href="/contacts.html") contacts
					li
						a(href="/404.html") error
