section.error-hero
	.container
		.error-hero__content
			.error-hero__content-header
				.error-hero__content-header__logo
					img(src="./img/header/logo.png", alt="logo")
			.error-hero__content-info
				.error-hero__content-info__block
					.error-hero__content-info__block-title
						h1 Сайт еще в&nbsp;разработке
					.error-hero__content-info__block-descr
						p Наша почта для связи #[a(href="#") info@nomapay.kz]
					.error-hero__content-info__block-btn
						a(href="#").btn-global
							p Написать нам
